* {
    padding: 0;
    margin: 0;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.depoiments {
    background-color: #f5f5f5;
    padding: 20px;
}


.depoiments h1 {
    text-align: center;
    margin-bottom: 3rem;
    justify-content: baseline;
}

p{
    font-style: italic;
    font-size: 13px;
    display: flex;
    justify-content:end ;
    align-items: end;
    bottom: 0;
    margin-bottom: -5px;
    margin-top: 20px;
}

.cards {
    display: flex;
    max-width: 980px;
    margin: 0 auto;
}

.cards .card {
    background-color: white;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 30px;
    box-shadow: 6px 6px 10px #000;
}

.cards .card h3 {
    margin: 10px 0 5px 0;
}

.cards .card span {
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
}

.card .user{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.stars {
    width: 20px;
    display: flex;
    justify-content: center;
    gap: 2px;
}