* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* gambiarra para o header ficar sem bug */

.header-upper {
    z-index: 5;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;

}

.header-upper iframe {
    height: 180px;
}

.header-upper iframe:hover {
    height: 500px;
}

.main2 {
    margin-top: 190px;
    margin-bottom: 20px;
}

/* titulo da noticia  */

.heading {
    max-width: 1000px;
    margin: 0 auto;
}

.heading h1 {
    font-size: 35px;
}

.heading p {
    font-size: 22px;
}

.heading span sub {
    font-weight: bold;
    font-style: italic;
    color: #888;
}

article img {
    margin-top: 10px;
    height: 600px;
    object-fit: cover;
}

article #legendaImagem {
    margin-top: -5px;
    text-align: center;
    font-size: 14px;
    color: #888;
}

.container {
    display: flex;
}

.container main {
    width: 70%;
}

.container main article {
    margin: 20px auto 0 auto;
    max-width: 900px;
}

.container main article p {
    margin-bottom: 10px;
    font-size: 20px;
}



.container aside {
    width: 30%;
    border-left: 3px solid rgb(9, 21, 188);
}

.container aside hr {
    margin: 20px;

}

.container aside #maisLidos {
    margin-bottom: 10px;
    margin-left: 5px;
    margin-top: 10%;
}

.container aside .card-2 {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #000;
}

.container aside .card-2 .legend {
    display: block;
}

.container aside .card-2 .legend p {
    text-align: justify;
}

.container aside .card-2 img {
    margin: 0px 10px;
}

.imagem1 {
    width: 100%;
    height: 400px;
}

.h1artigos {
    padding: 8px;
}

p {
    line-height: 22px;
}

.divaside {
    border-bottom: 2px solid rgb(9, 21, 188);
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 90%;
}

li {
  
    font-size: 19px;
    margin-left: 10px;
    line-height: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.textosvest {
    padding: 18px;
}
/* fix footer */
footer iframe {
    margin-bottom: -5px;
    width: 100%;
}

