* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(0, 180, 246);
}

article {
    display: flex;
    background-color: rgb(0, 180, 246);
}

.art1 {

    background-image: url(../../../categories/vestibular/images/vestibula.jpg);
}


section {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin: 20px;
    padding: 40px;
    align-items: center;
    width: 30%;
    border-left: solid 4px cornflowerblue;

}


.container {
    flex-wrap: wrap;
    justify-content: center;
}

.container2 {
    margin-top: 10px;
}

.sec2 {
    width: 160%;
    text-align: center;
    color: whitesmoke;
}

h1 {
    margin-left: 2%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: black;
}

main {
    align-items: center;
}

.h1noticias {
    border-bottom: 2px solid rgb(9, 21, 188);
    padding-top: 10px;
    margin-left: 140px;
    margin-right: 140px;
}

.h1vesti {
    text-align: center;
}



.art3 {

    background-color:rgb(0, 180, 246) ;
}

.art1 {
    background-color: rgb(0, 180, 246);
    ;
}

.conteudoart {
    background-color: azure;
    height: 60%;
    width: 100%;
    display: flex;
}

.imgart {
    border-radius: 50%;
    width: 10%;
    height: 10%;
    padding-right: 2%;
}

.imgusp {
    border-radius: 50%;
    width: 8%;
    height: 8%;
    padding-right: 2%;

}

.webinar-grid {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.link-block {
    position: relative;
    width: 70%;
    min-height: 400px;
    text-align: center;
    margin: 20px auto;
    background-color: #f0f0f0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.2s cubic-bezier(.25, .8, .25, 1);
    border-radius: 5px 5px 0 0;
    text-decoration: none;
}

.link-block:hover {
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.link-block .dundas-blue-link {
    background: rgba(40, 150, 211, 1);
    border: solid 1px rgba(40, 150, 211, 1);
    padding: 10px 30px;
    color: #fff !important;
    width: auto;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    transition: all 0.8s cubic-bezier(.25, .8, .25, 1);
}

.link-block .dundas-blue-link:hover {
    background: #fff;
    color: rgba(40, 150, 211, 1) !important;
}

.link-block .webinar-image-container {
    width: 100%;
    height: 180px;
    position: relative;
    top: 0;
    transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
    z-index: 200;
}

.link-block:hover .webinar-image-container {
    top: -20px;
}

.link-block .dundas-blue-text-long {
    position: absolute;
    top: 140px;
    transition: all 0.8s cubic-bezier(.25, .8, .25, 1);
    background-color: #f0f0f0;
    z-index: 100;
    font-weight: 100;
    color: rgba(40, 150, 211, .9);
    font-size: 22px;
    padding: 0 10px;
    opacity: 1;
}

.link-block:hover .dundas-blue-text-long {
    top: -20px;
    opacity: 0;
}

.link-block h2 {
    position: absolute;
}

.link-block .webinar-content-box {
    position: relative;
    padding: 20px;
    top: -20px;
    transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
    opacity: 0;
}

.link-block:hover .webinar-content-box {
    top: -30px;
    opacity: 1;
}

.webinar-content-box p {
    padding: 0 0 20px 0;
    color: #6a6a6a;
}

.webinar-content-box a {
    text-decoration: none !important;
}

.webinar-image-container img {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}

.archive {
    display: none;
}

@media only screen and (min-width: 569px) and (max-width: 880px) {
    .link-block {
        position: relative;
        width: 45%;
        max-width: 330px;
    }

    .link-block .dundas-blue-text-long {
        font-size: 22px;
    }
}

@media only screen and (min-width: 0) and (max-width: 568px) {
    .link-block {
        position: relative;
        width: 90%;
        max-width: 300px;
    }

    .link-block .dundas-blue-text-long {
        font-size: 18px;
    }
}

.videoWrapper {
    height: auto;
    width: 723px;
    position: relative;
    overflow: hidden;
}

.videoWrapper iframe {
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
}