/*corpo*/
body{
    text-align: center;
    font-family: system-ui;
  
   
  background-color: rgb(0, 180, 246);
}
/*main*/
main{
    background-color: white;
    padding: 20px;
}
/*article*/
#a1{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
   
}
/*sections*/
#s1{
    -webkit-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
    -moz-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
    box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
    border-radius: 5px;
    border-left: solid 5px cadetblue;
    text-align: justify;
    width: 30%;
    height: 300px;
    background-color: white;
    margin-right: 600px;
padding: 10px;
}
#s2{
    -webkit-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
    -moz-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
    box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
    border-radius: 5px;
    border-left: solid 5px cadetblue;
    text-align: justify;
    width: 30%;
    height: 300px;
    margin-right: 10px;
    background-color: white;
    padding: 10px;

}
/* article novo*/
#a2{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
/*sections*/
#s3{
    -webkit-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
    -moz-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
    box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
    border-radius: 5px;
    border-left: solid 5px cadetblue;
    text-align: justify;
    width: 30%;
    height: 300px;
    margin-right: 600px;
    background-color: white;
    padding: 10px;

}

#s4{
    -webkit-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
    -moz-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
    box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
    border-radius: 5px;
    border-left: solid 5px cadetblue;
    text-align: justify;
    width: 30%;
    height: 300px;
    margin-right: 10px;
    background-color: white;
    padding: 10px;
}
