body{
    text-align: center;
    font-family: system-ui;
   background-color: rgb(0, 180, 246);


}
/*main*/
main{
    background-color: white;
    height: 100%;
    padding: 20px;
    border-left: solid 4px cornflowerblue;
}
   
/* article */
#a1{
    -webkit-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
    -moz-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
    box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
   
    border-left: solid 4px cornflowerblue;
    text-align: justify;
   margin-right: 10px;
   margin-left: 10px;
   padding: 10px;
   margin-bottom: 20px;
}

#a2{
   
   display: flex;
}
h2{
    text-align: justify;
    margin-left: 20px;
    
}
/* id das sections*/
    

/* article */
#a3{
    display: flex;
    padding-top: 20px;
}



  
#a4{
    display: flex;
    padding-top: 20px;
}
a{
    -webkit-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
    -moz-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
    box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
   
    border-left: solid 4px cornflowerblue;
    text-align: justify;
   margin-right: 10px;
   margin-left: 10px;
   width: 50%;
   height: 400px;
   background-color: white;
   padding: 10px;
   text-decoration: none;
   color: black;
}
a{
    -webkit-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
    -moz-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
    box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
   
    border-left: solid 4px cornflowerblue;
    text-align: justify;
   margin-right: 10px;
   margin-left: 10px;
   width: 50%;
   height: 400px;
   background-color: white;
   padding: 10px;
   text-decoration: none;
   color: black;
}
/* link romance estilização*/
a{
    -webkit-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
    -moz-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
    box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
  
    border-left: solid 4px cornflowerblue;
    text-align: justify;
   margin-right: 10px;
   margin-left: 10px;
   width: 50%;
   height: 400px;
   background-color: white;
   padding: 10px;
   text-decoration: none;
   color: black;
}
