body{
    text-align: center;
    font-family: system-ui;
   border-left: solid 5px blue;
   border-right: solid 5px blue
}
/* article */
#a1{
    -webkit-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
    -moz-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
    box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
    border-radius: 5px;
    border-left: solid 5px blue;
    text-align: justify;
   margin-right: 10px;
   margin-left: 10px;
   padding: 10px;
   margin-bottom: 20px;
}

#a2{
   
   display: flex;
}
h2{
    text-align: center;
    color: rgb(14, 14, 142);
}
/* id das sections*/
    

/* article */
#a3{
    display: flex;
    padding-top: 20px;
}
#s3{
    -webkit-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
        -moz-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
        box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
        border-radius: 5px;
        border-left: solid 5px blue;
        text-align: justify;
       margin-right: 10px;
       margin-left: 10px;
       width: 50%;
       height: 400px;
       background-color: white;
       padding: 10px;
}
#s4{
    -webkit-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
        -moz-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
        box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
        border-radius: 5px;
        border-left: solid 5px blue;
        text-align: justify;
       margin-right: 10px;
       margin-left: 10px;
       width: 50%;
       height: 400px;
       background-color: white;
       padding: 10px;
}
#s5{
    -webkit-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
    -moz-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
    box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
    border-radius: 5px;
    border-left: solid 5px blue;
    text-align: justify;
   margin-right: 10px;
   margin-left: 10px;
   width: 50%;
   height: 400px;
   background-color: white;
   padding: 10px;
}
#s6{
    -webkit-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
    -moz-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
    box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
    border-radius: 5px;
    border-left: solid 5px blue;
    text-align: justify;
   margin-right: 10px;
   margin-left: 10px;
   width: 50%;
   height: 400px;
   background-color: white;
   padding: 10px;
}
#a4{
    display: flex;
    padding-top: 20px;
}
a{
    -webkit-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
    -moz-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
    box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
    border-radius: 5px;
    border-left: solid 5px blue;
    text-align: justify;
   margin-right: 10px;
   margin-left: 10px;
   width: 50%;
   height: 400px;
   background-color: white;
   padding: 10px;
   text-decoration: none;
   color: black;
}
a{
    -webkit-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
    -moz-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
    box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
    border-radius: 5px;
    border-left: solid 5px blue;
    text-align: justify;
   margin-right: 10px;
   margin-left: 10px;
   width: 50%;
   height: 400px;
   background-color: white;
   padding: 10px;
   text-decoration: none;
   color: black;
}