/*article*/
#a1{
    display: flex;
    margin-left: 35px;
   padding: 20px;
}
/*titulo*/
h1{
    text-align: center;
    color: black;
}
/* section */
#s1{
    -webkit-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
    -moz-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
    box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
    border-radius: 5px;
   
    text-align: justify;
    width: 30%;
    height: 300px;
    background-color: white;
    border-left: solid 4px cadetblue;
    padding: 10px;
}
/*corpo*/
body{
   
    font-family: system-ui;
    background-color: rgb(0, 180, 246);
}
/*main*/
main{
    background-color: white;
    padding: 20px;
}
/*section*/
#s2{
    -webkit-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
    -moz-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
    box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
    border-radius: 5px;
    border-left: solid 4px cadetblue;
    text-align: justify;
    width: 30%;
    height: 300px;
    background-color: white;
    margin-left: 20px;
    padding: 10px;
    }
    /*section*/
    #s3{
        -webkit-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
        -moz-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
        box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
        border-radius: 5px;
        border-left: solid 4px cadetblue;
        text-align: justify;
        width: 30%;
        height: 300px;
        background-color: white;
        margin-left: 20px;
        margin-right: 10px;
        padding: 10px;
    }
    
   /*section*/
    #s4{
        -webkit-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
        -moz-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
        box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
        border-radius: 5px;
        border-left: solid 4px cadetblue;
        text-align: justify;
        width: 30%;
        height: 300px;
        background-color: white;
        
        padding: 10px;
    }
    /*section*/
    #s5{
        -webkit-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
        -moz-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
        box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
        border-radius: 5px;
        border-left: solid 4px cadetblue;
        text-align: justify;
        width: 30%;
        height: 300px;
        background-color: white;
        margin-left: 20px;
        
        padding: 10px;
    }
    /*article*/
    #a3{
        display: flex;
      margin-left: 35px;
        padding: 20px;
    }
    /*section*/
    #s6{
        -webkit-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
        -moz-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
        box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
        border-radius: 5px;
       border-left: solid 4px cadetblue;
        text-align: justify;
        width: 30%;
        height: 300px;
        background-color: white;
       margin-left: 20px;
       padding: 10px;
    }