* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* padronização main */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    margin-bottom: 50px;
}

/* config body */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(../../../../../assets/images/WIN_20230203_11_00_31_Pro.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

/* config header */
.header-upper {
    z-index: 5;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;

}

.header-upper iframe {
    height: 180px;
}

.header-upper iframe:hover {
    height: 500px;
}

/* config swiper */
.swiper {
    width: 100%;
}

.swiper-wrapper {
    width: 100%;
    height: 35em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    /* width: calc( 100% 5); */
    width: 30%;
    height: 95%;
    background-color: #fff;
    border-radius: 2em;
    box-shadow: 0 0 2em rgba(0, 0, 0, .2);
    padding: 2em 1em;

    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: justify;

    margin: 0 2em;
}

.swiper-slide:not(.swiper-slide-active) {
    filter: blur(1px);
}


.card_image {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    border: 5px solid #5361dd;
    padding: 3px;
    margin-bottom: 2em;
}

.card_image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.card_content {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100px;
}

.card_title {
    font-size: 1.5em;
    font-weight: 500;
    position: relative;
    top: .2em;

}


.card_name {
    color: #5361dd;
}

/* config texto card */
.card_text {
    text-align: center;
    font-size: 1.1rem;
    margin: 1em 0;

}
/* config button veja mais */
.card_btn {
    background-image: linear-gradient(45deg, #c1d8f6, #509bfa);
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    padding: .5em;
    border-radius: .5em;
    margin-top: .5em;
    cursor: pointer;
}

/* config footer */
iframe {
    margin-bottom: -5px;
}