body{text-align: center;
    font-family: system-ui;
    border-left: solid 5px black;
     
     }
/* container para editar as divs*/
.container{
    background-color: rgb(96, 190, 219);
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
-moz-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
border-left: solid 5px black;
}
.container2{
    background-color: rgb(96, 190, 219);
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
-moz-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
border-left: solid 5px black;
text-align: justify;
}
.container3{
    background-color: rgb(96, 190, 219);
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
-moz-box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
box-shadow: 1px 2px 21px 1px rgba(0,0,0,0.73);
border-left: solid 5px black;
text-align: justify;
}