*{
    margin:0;
    padding:0;
   border: box;
}
body{
   
    text-align: center;
    padding: 20px;
}
/*sections*/
#s1{
    background-color: rgb(25, 83, 25);
    text-align: justify;
    padding: 20px;
  border-radius: 6px;
  color: white;
}
#s2{
    background-color: rgb(25, 83, 25);
    text-align: justify;
    padding: 20px;
  border-radius: 6px;
  width: 40%;
}
#s3{
    background-color: rgb(25, 83, 25);
    text-align: justify;
    padding: 20px;
  border-radius: 6px;
  width: 40%;
}
/*centralizando*/
article{
    display: flex;
    gap: 50px;
    margin-left: 7%;
    margin-top: 5%;
    color: white;
}
/*titulo*/
h2{
    margin-top: 5%;
}