* {
    margin: 0;
    padding: 0;
    border: box;
}

body {
    background-color: rgb(0, 180, 245);
    font-family: system-ui;
    text-align: center;
}
/*gambiarra do header*/
.header-upper {
    z-index: 9999;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;

}

.header-upper iframe {
    height: 180px;
}

.header-upper iframe:hover {
    height: 500px;
}

main {
    background-color: white;
    padding: 20px;
    margin-top: 170px;
}

#a1 {
    display: flex;
}

/* card diferenciado*/
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
/*linkblock= a*/
.linkblock {
    position: relative;
    width: 30%;
    height: 500px;
    min-height: 400px;
    text-align: center;
    margin: 20px auto;
    background-color: #f0f0f0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.2s cubic-bezier(.25, .8, .25, 1);
    border-radius: 5px 5px 0 0;
    text-decoration: none;
}

.linkblock:hover {
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
/*titulo 1 = span*/
.linkblock .titulo1 {
    background-image: linear-gradient(45deg, #c1d8f6, #509bfa);
    padding: 8px 25px;
    color: #fff !important;
    width: auto;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
 
    text-transform: uppercase;
    transition: all 0.8s cubic-bezier(.25, .8, .25, 1);
}

.linkblock .titulo1:hover {

    background: white;
    color: rgb(15, 121, 177) !important;
}





.linkblock .img1 {
    width: 100%;
    height: 150px;
    position: relative;
    top: 0;
    transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
    z-index: 200;
}

.linkblock:hover .img1 {
    top: -20px;
}
/*sub1= p*/
.linkblock .sub1 {
    position: absolute;
    top: 300px;
    transition: all 0.8s cubic-bezier(.25, .8, .25, 1);
    background-color: #f0f0f0;
    z-index: 100;
    font-weight: 100;
    color: black;
    font-size: 15px;
    padding: 0 10px;
    opacity: 1;
    height: 30%;
    font-size: 20px;
}


.linkblock:hover .sub1 {
    top: -20px;
 
}

.linkblock h2 {
    position: absolute;
}




#s1 .img1 {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}

#s2 .img1 {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}






footer iframe {
    margin-bottom: -5px;
}