* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/*concertando header*/
.header-upper {
  z-index: 9999;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;

}

.header-upper iframe {
  height: 180px;
}

.header-upper iframe:hover {
  height: 500px;
}

main {
  background-color: white;
  margin-top: 190px;
}

.centerImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

h1 {
  text-align: center;
}

/*sections*/
#s1 {
  border-top: solid 3px #3c4ffa;
  text-align: justify;
  padding: 20px;
  border-radius: 6px;

}

.container {
  display: flex;
}

#s2 {
  border-top: solid 3px #3c4ffa;
  text-align: justify;
  padding: 20px;
  border-radius: 6px;
}

#s3 {
  border-top: solid 3px #3c4ffa;
  text-align: justify;
  padding: 20px;
  border-radius: 6px;
}

/*centralizando*/
article {

  gap: 50px;


}

/*titulo*/
h2 {
  margin-top: 5%;
}

/*imagens*/
#img1:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: all 0.5s;
  box-shadow: -4px -1px 46px -7px rgba(37, 31, 31, 0.75);
  -webkit-box-shadow: -4px -1px 46px -7px rgba(18, 16, 16, 0.75);
  -moz-box-shadow: -4px -1px 46px -7px rgba(30, 25, 25, 0.75);
}

/*titulos*/
h2 {
  margin-top: 1%;
}

h1 {
  margin-bottom: 1%;
}

.elenco {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.elenco h2 {
  margin-bottom: 15px;
  letter-spacing: 2px;
  font-style: italic;
  font-size: 35px;
  text-transform: uppercase;
}

/*div imagens*/
.container2 {
  display: flex;
  gap: 20px;
  margin-left: 30%;
}

#a3 {
  text-align: justify;
}

#a2 {
  width: 70%;
}

.main2 {
  display: flex;
}

/* aside */

aside {
  width: 30%;
  border-left: 1.5px solid #000;
}

aside hr {
  margin: 20px;
}

aside #maisLidos {
  margin-bottom: 20px;
  margin-left: 5px;
}

aside .card-2 {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: #000;
}

aside .card-2 .legend {
  display: block;
}

aside .card-2 .legend p {
  text-align: justify;
}

aside .card-2 img {
  margin: 0px 10px;
}

/* avaliacao sobre a matéria */

.avaliacaoMateria {
  background-color: #f5f5f5;
  padding: 20px;
  margin-top: 20px;
}

.avaliacaoMateria article section {
  display: flex;
  align-items: baseline;
}

.avaliacaoMateria article section label {
  margin-left: auto;
  cursor: pointer;
}

.avaliacaoMateria article section label:hover {
  color: #383838;
}

.avaliacaoMateria article section label:active {
  color: #3c4ffa;
}

.avaliacaoMateria article .notas {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.avaliacaoMateria article .notas .media {
  display: flex;
  gap: 10px;
}

input:checked+.avaliacaoMateria article .depoiments {
  display: block;
}

input:checked+.avaliacaoMateria article section #menos {
  display: block;
}

input:checked+.avaliacaoMateria article section #mais {
  display: none;
}

#menos {
  display: none;
}

#veja {
  display: none;
}

/* estilizacao dos depoimentos sobre a matéria */

.depoiments {
  background-color: #f5f5f5;
  padding: 20px;
  display: none;
}


.depoiments h1 {
  text-align: center;
  margin-bottom: 3rem;
  justify-content: baseline;
}

.depoiments .cards .card p {
  font-style: italic;
  font-size: 13px;
  display: flex;
  justify-content: end;
  align-items: end;
  bottom: 0;
  margin-bottom: -5px;
  margin-top: 20px;
}

.cards {
  display: flex;
  max-width: 980px;
  margin: 0 auto;
}

.cards .card {
  background-color: white;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 30px;
  box-shadow: 6px 6px 10px #000;
  border-radius: 10px;
  width: calc(100% / 3);
}

.cards .card h3 {
  margin: 10px 0 5px 0;
}

.cards .card span {
  margin-top: 15px;
  text-align: center;
  font-size: 18px;
}

.card .user {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.stars {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  gap: 2px;
}

/*concertando footer*/
footer iframe {
  margin-bottom: -5px;
}