* {
    padding: 0;
    margin: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}


/* gambiarra para o header ficar sem bug */

.header-upper {
    z-index: 5;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
}

.header-upper iframe {
    height: 180px;
}

 .header-upper iframe:hover {
    height: 500px;
} 

main {
    margin-top: 170px;
    margin-bottom: 20px;
}

/* estilizacao do carrosel */

.space {
    height: 50px;
}

.slide img {
    border-radius: 5px;


}

.carrosel {
    width: auto;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
    margin: auto;
    position: relative;
}

.carrosel .navigation {
    position: absolute;
    bottom: 20px;
    left: 80%;
    display: flex;
}

.carrosel .navigation label {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 2px solid rgb(196, 196, 196);
    margin: 6px;
    cursor: pointer;
    transition: 0.6s;
}

input {
    display: none;
}

.slides {
    width: 500%;
    height: auto;
    display: flex;
}

.slide {
    width: 20%;
    height: auto;
    transition: .6s;
}

#slide1:checked~.navigation #l1{
    background-color: #509bfa;
    border: 2px solid #fff;
}


#slide1:checked~.s1 {
    margin-left: 0;
}

#slide2:checked~.navigation #l2{
    background-color: #509bfa;
    border: 2px solid #fff;
}

#slide2:checked~.s1 {
    margin-left: -20%;
}

#slide3:checked~.navigation #l3{
    background-color: #509bfa;
    border: 2px solid #fff;
}

#slide3:checked~.s1 {
    margin-left: -40%;
}

.carrosel .slide {
    display: flex;
}

.carrosel .slide section {
    width: 50%;
    margin: auto 10px;

}

.carrosel .slide section a {
    text-decoration: none;
    color: #000;
}

.carrosel .slide section a article {
    margin: 15px 0px;
    border-left: 7px solid #509bfa;
    background-color: #fff;
    box-shadow: 5px 5px 17px 1px #000;
    padding: 10px;
    border-radius: 5px;
}

.carrosel .slide section a article .container {
    display: flex;
}

.carrosel .slide section a article .container img {
    margin-right: 20px;
    object-fit: cover;

}

.carrosel .slide section a article .container h1 {
    display: flex;
    align-items: center;
}

/* estilizacao dos livros e filmes recomendados  */

.card {
    background-color: #fff;
    width: calc(100 / 4);
}


h2 {
    margin: 10px;
}

article .container {
    display: flex;
}

article .container section {
    width: 70%;

}

article .container section .botao form button {
    padding: .5em;
    text-transform: uppercase;
    font-weight: 600;
    width: 90%;
    background-image: linear-gradient(45deg, #c1d8f6, #509bfa);
    border-radius: .5em;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.5s;
    position: relative;
    z-index: 1;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    text-align: center;
    margin: 15px 0;
}

/* article .container section .botao {
    text-align: center;
    margin: 20px 0;
}

article .container section .botao a {
    padding: 10px auto;
    background-color: #509bfa;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

article .container section .botao a:hover {
    background-color: #294c79;
} */


.centralizarCards {
    display: flex;
    justify-content:space-evenly;
    
}

article .container section .card {
    box-shadow: 0px 0px 20px 1px #000;
    border-radius: 5px;
    padding: 0px 0px 10px 0px;
    width: 16%;
    height: auto;
    /* margin: 8px; */
    display: inline-block;
    text-align: center;
    
}

article .container section .card img {
    width: 100%;
    object-fit: cover;

}

article .container section .card form button {
    padding: .5em;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 600;
    width: auto;
    background-image: linear-gradient(45deg, #c1d8f6, #509bfa);
    border-radius: .5em;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.5s;
    border: none;
    text-align: center;
}

article .container section .card button:hover {
    background-color: #294c79;
}

/* estilizacao do aside  */

article .container aside {
    width: 30%;
    border-left: 1.5px solid #000;
}

article .container aside hr {
    margin: 20px;
}

article .container aside #maisLidos {
    margin-bottom: 20px;
}

article .container aside .card-2 {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #000;
}

article .container aside .card-2 .legend {
    display: block;
}

article .container aside .card-2 .legend p {
    text-align: justify;
}

article .container aside .card-2 img {
    margin: 0px 10px;

}

footer iframe {
    margin-bottom: -5px;
}
