/* ajuste de margin e padding */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* estilização da body como a cor de fundo e centralização */
body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

/* gambiarra para o header ficar sem bug */

.header-upper {
    z-index: 5;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;

}

.header-upper iframe {
    height: 180px;
}

.header-upper iframe:hover {
    height: 500px;
}

.form-container {
    margin-top: 170px;
    background-color: #f5f5f5;
}

/* estilização div pai para alinhar o contéudo */
.container {
    
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 4%;
}

/* estilização do formulário */
form {

    border: 1px solid #000000;
    background-color: #fff;
    max-width: 500px;
    height: 450px;
    padding: 40px;
    border-radius: 40px;
}

/* estilização h1 do formulário */
form h1 {
    text-align: center;
    font-size: 30px;
    color: #000;
}

/* estilização parágrafo do formulário */
form p {
    text-align: center;
    margin: 20px 0px;
}

/* estilização dos inputs */
.input-single {
    position: relative;
    margin: 30px 0px;
}

/* estilização dos labels dos inputs */
.input-single label {
    position: absolute;
    left: 0;
    bottom: 5px;
    transition: all 0.2s;
    cursor: text;
}

/* estilização dos labels dos inputs */
.input {
    width: 100%;
    border: 0px;
    border-bottom: 2px solid #ccc;
    padding: 5px;
    font-size: 17px;
    outline: none;
}

/* animação das labels do formulário */
form .input-single .input:focus~label,
form .input-single .input:valid~label {
    transform: translateY(-24px);
    font-size: 12px;
    color: #075c94;
}

/* estilização imagens */
.img {
    width: 112px;
    margin-top: 40px;
}

/* estilização parágrafos */
.p {
    text-align: center;
    font-size: 30px;
}

/* centralização h1 da model */
#h1 {
    text-align: center;
}

/* estilização botão de enviar */
.btn {
    padding: .5em;
    text-transform: uppercase;
    font-weight: 600;
    width: auto;
    background-image: linear-gradient(45deg, #c1d8f6, #509bfa);
    border-radius: .5em;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.5s;
    position: relative;
    z-index: 1;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    text-align: center;
}

/* hover botão */
.btn:hover {
    background-color: #164a8f;
}

/* estilização div pai da janela modal */
.modal-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000004b;
    z-index: 999;
    align-items: center;
    justify-content: center;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

/* estilização janela modal */
.modal {
    width: 326px;
    height: 408px;
    box-shadow: 4px 4px 70px 10px rgb(0 0 0/11%);
    background-color: #faf9f9;
    backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 25px;
}

/* estilização X para fechar a janela modal */
.fechar {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: #ff0000;
    color: #fff;
    font-weight: 700;
    font-size: 14pt;
    cursor: pointer;
}

/* alinhamento margin do h1 da janela modal */
.modal h1 {
    margin-bottom: 20px;
}

.modal p {
    text-align: center;
    margin: 25px;
    justify-content: center;
}

/* animação janela modal */
@keyframes animate-modal {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/* alinhamento janela modal */
.modal-container.mostrar {
    display: flex;
}

/* animação abrir janela modal */
.mostrar .modal {
    animation: animate-modal .3s;
}

footer iframe {
    margin-bottom: -5px;
}