* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


/* linha titulo */
.linha{
    border: solid 1px black;
    text-align: center;
    
  }

main {
    background-color: white;
    width: 100%;
    height: 100%;
    margin-top: 150px;
}


.webinar-grid {
    width: 190%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.link-block {
    position: relative;
    width: 32%;
    min-height: 400px;
    text-align: center;
    margin: 50px auto;
    background-color: #f0f0f0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.2s cubic-bezier(.25, .8, .25, 1);
    border-radius: 5px 5px 0 0;
    text-decoration: none;
}

.link-block:hover {
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.link-block .dundas-blue-link {
    background: rgba(40, 150, 211, 1);
    border: solid 1px rgba(40, 150, 211, 1);
    padding: 8px 20px;
    color: #fff !important;
    width: auto;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.8s cubic-bezier(.25, .8, .25, 1);

}

.link-block .dundas-blue-link:hover {
    background: #fff;
    color: rgba(40, 150, 211, 1) !important;

}

.link-block .webinar-image-container {
    width: 100%;
    height: 160%;
    position: relative;
    top: 0;
    transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
    z-index: 300;
}

.link-block:hover .webinar-image-container {
    top: -20px;
}

.link-block .dundas-blue-text-long {
    position: absolute;
    /* top do comeco */
    top: 120px;
    transition: all 0.8s cubic-bezier(.25, .8, .25, 1);
    background-color: #f0f0f0;
    width: 98%;
    height: 70%;
    z-index: 100;
    font-weight: 200;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(40, 150, 211, .9);
    font-size: 24px;
    padding: 140px 60px;
    opacity: 1;
}

.link-block:hover .dundas-blue-text-long {
    top: -20px;
    opacity: 0;
}

.link-block h2 {
    position: absolute;
    margin-top: 98%;
}

/* ajustes da imagem */
.imagemromance {
    width: 100%;
    height: 210px;
    border-bottom: 6px solid #2155a8;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.webinar-content-box p {
    /* texto */
    padding: 0 10px 70px 0;
    color: #6a6a6a;
}

.webinar-content-box a {
    text-decoration: none !important;
}

.filmes {
    text-align: center;
    padding: 10px;
}


.h1noticias {
    border-bottom: 2px solid rgb(9, 21, 188);
    padding-top: 10px;
    margin-left: 160px;
    margin-right: 160px;
}

.h1vesti {
    text-align: center;
}

/* imagem dos cards */
.imagemromance {
    border-radius: 2%;
    width: 100%;
    border-bottom: 6px solid #2155a8;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 200px;
}

/* fix header */

.header-upper {
    z-index: 999;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    
}
.header-upper iframe {
    height: 180px;
}
 .header-upper iframe:hover {
    height: 500px;
} 

/* fix footer */

footer iframe {
    margin-bottom: -5px;
    width: 100%;
}


