<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./footer.css">
    <link type="image/x-icon" rel="icon" href="../assets/images/linktree.png">
    <title>kaminews</title>
</head>

<body>
    <footer>
        
        <a target="_parent" href="https://linktr.ee/kamitech__">
           
            
              <div class="footer-dark">
                <footer>
                    <div class="container">
                        <div class="row">
                            <div>
                                <h3>Services</h3>
                                <ul>
                                    <li><a href="#">vestibular</a></li>
                                    <li><a href="#">Faculdade</a></li>
                                    <li><a href="#">Recursos</a></li>
                                </ul>
                            </div>
                            <div>
                                <h3>Equipe</h3>
                                <ul>
                                    <a href="#">Company</a>
                                    <a href="#">Team</a>
                                    <a href="#">Careers</a>
                                </ul>
                            </div>
                            <div>
                                <h3>Company Name</h3>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis assumenda explicabo quasi non minus tenetur, dignissimos vero neque harum eligendi in. Eos harum soluta doloribus ullam eaque laudantium, aliquid incidunt.</p>
                            </div>
                            <div><a href="#"></i></a><a target="_parent" href="https://linktr.ee/kamitech__"><img src="../assets/images/linktree.png"
                                width="40px" alt="40px"> </a></div>
                        </div>
                        <p class="copyright">Todos os direitos reservados 2023</p>
                    </div>
                </footer>
            </div>
    </footer> 
    
</body>
</html>