<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./footer.css">
    <link type="image/x-icon" rel="icon" href="../assets/images/0.png">
    <title>Kaminews</title>
</head>

<body>
    <footer>
        
        <a target="_blank" href="https://linktr.ee/kamitech__" ></a>
           
            
              <div class="footer-dark">
                <footer>
                    <div class="container">
                        <div class="row">
                            <div>
                                <h1>KamiNews</h1>
                                <ul>
                                    <li><a target="_parent" href="../index.html">Início</a></li>
                                    <li><a target="_parent" href="../pages/sobre.html">Sobre nós</a></li>
                                    <li><a target="_parent" href="../pages/contato.html">Contato</a></li>
                                    <li><a target="_parent" href="../pages/feedback.html">Feedback</a></li>
                                </ul>
                            </div>
                            <div>
                                <h2>Equipe</h2>
                                <ul>
                                    <a target="_parent">Company</a>
                                    <li><a target="_parent">Team</a>
                                    <li><a target="_parent">Careers</a>
                                </ul>
                            </div>
                            <div>
                                <h3>Kamitech</h3>
                                <p>Caso tenha interesse em saber mais sobre a nossa equipe segue abaixo o nosso linktree📋</p>
                            </div>
                            <div><a href="#"></i></a><a target="_blank" href="https://linktr.ee/kamitech__"><img src="../assets/images/linktree.png"
                                width="40px" alt="40px"> </a></div>
                        </div>
                        <p class="copyright">Todos os direitos reservados 2023</p>
                    </div>
                </footer>
            </div>
    </footer> 
    
</body>
</html>