<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../layouts/header.css">
    <link rel="icon" href="../assets/images/logokami-semFundo.png" type="image/x-icon">
    <title>Kami news</title>
</head>

<body>
    <header>
        
        <p>
            <img class="logo" src="../assets/images/logokami-semFundo.png" alt="logo kami news">
        </p>
        <!-- nav para navegar entre as paginas -->
        <nav>
            <ul>
                <li> <a class="hoverinicio" href="../#" target="_parent">Início</a>
                    <div class="sub-menu1">
                        <ul>
                            <li><a href="../pages/categories/filmes/">Filmes</a></li>
                            <li class="hover-sub"><a href="../pages/categories/series/">Séries</a> </li>
                            <li><a href="../pages/categories/livros/">Livros</a></li>
                            <li><a href="../pages/categories/e-sports/">E-sports</a></li>
                            <li><a href="../pages/categories/vestibular/index.html">Vestibular</a></li>
                          
                        </ul>
                    </div>


                </li>

                <li><a class="sobrenosl" href="../pages/sobre.html" target="_parent">Sobre nós</a>
                    <div class="sub-sobre">
                        <ul>

                            <li><a href="#">Caique</a></li>
                            <li><a href="#">Gabriel</a></li>
                            <li><a href="#">Isabela</a></li>
                            <li><a href="#">Lívia</a></li>
                            <li><a href="#">Matheus</a></li>
                            <!--   <li class="hover-sobre"><a href="#"></a></li> -->
                            <!--  <div class="sub-sobre2">
                                    <ul>
                                        <li><a href="#">categoria 7</a></li>
                                        <li><a href="#">categoria 8</a>
                                    </ul>

                                </div> -->

                        </ul>
                    </div>
                </li>


                <ul>
                    <li><a href="../pages/contato.html" target="_parent">Contato</a></li>
                    <li> <a href="../pages/feedback.html" target="_parent">Feedback</a>

                </ul>
            </ul>

        </nav>

    </header>
</body>

</html>