<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../layouts/header.css">
    <link rel="icon" href="../assets/images/logokami-semFundo.png" type="image/x-icon">
    <title>Kami news</title>
</head>

<body>
    <header>

        <p>
            <img class="logo" src="../assets/images/logokami-semFundo.png" alt="logo kami news">
        </p>
        <!-- nav para navegar entre as paginas -->
        <nav>
            <ul>
                <li> <a class="hoverinicio" href="../index.html" target="_parent">Início</a>
                    <div class="sub-menu1">
                        <ul>
                            <li><a target="_parent" href="../pages/categories/filmes/index.html">Filmes</a></li>
                            <li class="hover-sub"><a target="_parent"
                                    href="../pages/categories/series/index.html">Séries</a>
                            </li>
                            <li><a target="_parent" href="../pages/categories/livros/index.html">Livros</a></li>
                            <li><a target="_parent" href="../pages/categories/e-sports/index.html">E-sports</a></li>
                            <li><a target="_parent" href="../pages/categories/vestibular/index.html">Vestibular</a></li>

                        </ul>
                    </div>


                </li>

                <li><a class="sobrenosl" href="../pages/categories/sobre-nos/creators/index.sobrenos.html"
                        target="_parent">Sobre nós</a>
                    <div class="sub-sobre">
                        <ul>

                            <li><a target="_parent" href="../pages/categories/sobre-nos/creators/caique.html">Caique</a>
                            </li>
                            <li><a target="_parent"
                                    href="../pages/categories/sobre-nos/creators/gabriel.html">Gabriel</a></li>
                            <li><a target="_parent" href="../pages/categories/sobre-nos/creators/isa.html">Isabela</a>
                            </li>
                            <li><a target="_parent" href="../pages/categories/sobre-nos/creators/livia.html">Lívia</a>
                            </li>
                            <li><a target="_parent"
                                    href="../pages/categories/sobre-nos/creators/matheus.html">Matheus</a></li>


                        </ul>
                    </div>
                </li>


                <ul>
                    <li><a href="../pages/contato.html" target="_parent">Contato</a></li>
                    <li> <a href="../pages/feedback.html" target="_parent">Feedback</a>

                    </ul>
                </ul>
                
                <a target="_parent"  href="../pages/categories/music/musica.html">
                    <button type="button">Música</button>
                </a>
        </nav>

    </header>
</body>

</html>