/* tirar espaços brancos por volta do site */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* configuraçoes da logo */
.logo {
    width: 110px;
    height: 110px;
    position: relative;
    padding: 4px;
}

/* deixar a logo no meio */
p {
    text-align: center;
}

a {
    text-decoration: none;
}

/* cor de fundo e da fonte */
header {
    background-color: #282d32;
    color: white;
}

body {
    background-color: transparent;
}

/* ajustes da ul para deixar os links um do lado do outro */
ul {
    display: flex;
    justify-content: space-evenly;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /*   */
    text-decoration: none;
}

/* tirar decoraçoes dos links */
ul a {
    text-decoration: none;
    color: rgb(255, 245, 245);
}


li {
    list-style-type: none;
}

nav {
    background-color: #282d32;
    text-align: center;
    justify-content: space-between;
}


nav ul {
    display: inline-flex;
}

nav ul li {
    width: 120px;
    margin: 15px;
    padding: 8px;
}

button {
    border: none;
    background-image: linear-gradient(45deg, #c1d8f6, #509bfa);
    padding: 12px 30px;
    border-radius: 30px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}

button:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.sub-menu1 {
    display: none;
    background-color: rgb(73, 236, 248);
}

nav ul li:hover .sub-menu1 {
    display: block;
    position: absolute;
    background-color: rgb(42, 232, 197);
    margin-top: 4px;
    margin-left: -35px;
}

nav ul li:hover .sub-menu1 ul {
    display: block;
    position: absolute;
    padding: 10px;
    background-color: #282d32;
    border-radius: 5px;
}

nav ul li:hover .sub-menu1 ul li {
    width: 130px;
    text-align: center;
    border-radius: 10px;
    transition: 0.7s;
}

nav ul li:hover .sub-menu1 ul li:hover {
    background-color: rgb(82, 177, 194);
}

.sub-menu2{
    display: none;
}

.hover-sub:hover .sub-menu2{
    display: block;
    position: absolute;
    margin-top: -40px;
    margin-left: 118px;
    background-color: aqua;
}

.sub-sobre{
    display: none;
    background-color: rgb(73, 236, 248);
}

nav ul li:hover .sub-sobre{
    display: block;
    position: absolute;
    background-color: aqua;
    margin-top: 4px;
    margin-left: -35px;
   
}

/* sub-sobre é o menu do sobre nós */
nav ul li:hover .sub-sobre ul {
    display: block;
    position: absolute;
    padding: 10px;
    background-color: #282d32;
    border-radius: 5px;
}

nav ul li:hover .sub-sobre ul li {
    width: 140px;
    text-align: center;
    border-radius: 10px;
}

.sub-sobre2{
    display: none;
    background-color: aqua;
}

nav ul li:hover .sub-sobre{
    display: block;
    position: absolute;
   background-color: aqua;
    margin-top: 4px;
    margin-left: -35px; 
   
}

.hover-sobre:hover .sub-sobre2{
    display: block;
    position: absolute;
    margin-top: -40px;
    margin-left: 118px;
    background-color: aqua;
}

nav ul li:hover .sub-sobre ul li:hover {
    background-color: rgb(82, 177, 194);
}

nav ul li:hover .sub-sobre ul li {
    width: 130px;
    text-align: center;
    border-radius: 10px;
    transition: 0.7s;
}


 